<!-- Toolbar -->
<div class="toolbar" role="banner">

  <span>Welcome</span>
  <div class="spacer"></div>
  
</div>



<!--V17 Single class binding -> Multi-class binding https://angular.dev/guide/templates/class-binding-->
<div class="content" [class]="{cookiesOFFclass  : !cookiesONvar, displayNone  : cookiesONvar}"  role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    
    <span>{{ title }}</span>

  </div>

  
  <br>
  v = {{ version }}
  <br>
  Cookies = {{ cooks }}
  <br>
  <br>
  <br>
  <br>

  
  <div class="popup"  >
    <span class="popuptext" id="myPopup">Do you accept cookies, otherwise quit<button id="cookie-ok-button" name="cookie-ok-button" (click)="  clickOnOK()" aria-label="Accept cookies and close this message">OK</button></span>
  </div>

</div>



<!-- angular ng build file  not found

     https://stackoverflow.com/questions/49148872/angular-build-index-html-not-working-->

<!--base href="./Z-Anatomy/docs/"
    cf show vs visible-->

<div class="content"   [class]="{cookiesONclass: cookiesONvar, displayNone: !cookiesONvar}"  role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    
    <span>{{ title }}</span>

  </div>


  


  <!--popup https://www.w3schools.com/howto/howto_js_popup.asp-->
  <!--function https://angular.io/guide/event-binding -->
  




  
  
  <!-- Resources -->
  <h2>Resources</h2>
  <!--p>Here are some links to help you get started:</p-->

  <!-- assets https://stackoverflow.com/questions/56062183/angular-7-images-in-assets-folder-does-not-appear  assets/Startup.blend -->

  <div class="card-container"  >
    
    

    <a class="card" href="https://moueza.github.io/Z-Anatomy/assets/Startup.blend"  >

      <span>Indirect Download Startup.blend 2</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>


    <div><a href="z-anatomy-europe-ideas">Z-Anatomy-europe-ideas</a> </div>
  </div>

  

  <!--div class="card-container">
      

      <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
	
	<span>Build for Production</span>
      </button>
  </div-->

  


  <!-- Footer -->
  <footer>
    v = {{ version }} Website created by <a href="https://moueza.github.io/">Peter MOUEZA</a>.  <a href="https://github.com/moueza/Z-Anatomy">Github</a>
  </footer>


</div>

<router-outlet></router-outlet>